*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Fondo*/
body{
  background: url(img/fachero.jpg);
  background-position: center center;			/*horizontalmente */
  background-repeat: no-repeat;		/* Para que la imagen de fondo no se repita */
  background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-size: cover;		/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-color: #FFF;	/* Se muestra un color de fondo mientras se está cargando la imagen	de fondo o si hay problemas para cargarla */
}
/*Fondo*/

/*TITULO*/
.titulo{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}
/*TITULO*/

.titulo2{
  font-family: 'Pacifico', cursive;
    font-size: 40px;
}

/*letras*/
.letra{
  font-family: 'Pacifico', cursive;
      font-size: 20px;
}
/*letras*/

/*imagen*/
.img{
  background-size: cover;
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 70%;
     border-radius: 70px;
}
/*imagen*/


/*RECUADRO*/
.fieldset {
  font-size:14px;
  padding:5px;
  width: 60%;
  height: 500px;
  line-height:1.8;
  margin: 0 auto;
text-align:center;
 }

legend{
font-family: comic sans;
color: white;
font-size: 40px;
text-align: center;

 }

label{
color: white;  //COLOR LETRA
  }
/*RECUADRO*/


/*input*/

.estilo{
  border-radius: 70px;
  border-style:
  outset;
   border-width: 3px;
  border-color: blue;
  font-size: 10pt;
  color:black;
  font-weight:bolder;
  height:30px;
}
/*input*/


/*BOTON*/

button {
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
         box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 -webkit-filter: blur(2em);
         filter: blur(2em);
 opacity: .7;
 -webkit-transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
         transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
         box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 -webkit-box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
         box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
/*BOTON*/



/*estilo del selector*/
  select {
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
  }
  select:focus{ outline: none;}

  /*estilo del selector*/

/*github*/
.github{
  background-size: cover;
  position: relative;
  display: flex;
  flex-flow: row;
  width: 10%;
  height: 10%;

}





  /*Fuentes*/

  /*
  https://fonts.google.com/
  https://uiverse.io/detail/cssbuttons-io/funny-dog-69   BOTON
  */
